.quiz-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../../images/nature-heart.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
}

.quiz-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: green;
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
}

.question-responses {
  display: block;
  padding: 1em;
}

.question-responses > input[type='radio'] {
  margin: 2em;
}

.pretty-radio {
}

.pretty-radio:hover {
  background-color: black;
  color: black;
  background: black;
}

input[type='radio']:hover {
  background-color: black;
  color: black;
  background: black;
}
