.landing-banner {
  height: 100vh;
  width: auto;
  /* background-image: url("../../../images/1920_campusphoto-476112.jpeg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.landing-banner:before {
  content: "";
  background: url("../../../images/1920_campusphoto-476112.jpeg") no-repeat
    center center/cover;
  background-color: #f3f3f3;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.landing-banner > h1 {
  font-size: 4rem;
  margin: 1rem;
}

.chevron {
  width: 5%;
  height: auto;

  animation: move 1s infinite alternate;
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

.card-section {
  background-color: #f2f2f2;
  color: #000;
  text-align: center;
}

.card-section > h2 {
  /* margin: 1em; */
}

.card-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #000;
  /* background-color: #f2f2f2; */
  align-content: center;
  justify-content: center;
}

.card-container > h2 {
  margin-top: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  text-align: center;
  background-color: #20ba49;
  color: #fff;
}

.card > h3 {
  margin-bottom: 1em;
  font-size: 2em;
}

.card > p {
  margin-bottom: 0.5em;
}

.card > img {
  margin: 2em 0em;
  height: 6em;
  width: auto;
}

@media only screen and (min-width: 875px) {
  .card {
    margin: 1em 1em;
    min-width: 15em;
  }

  .card-container {
    flex-direction: row;
    margin: 0em 1em;
  }
}
@media only screen and (min-width: 1600px) {
  .card {
    margin: 1em 1em;
    max-width: 30em;
  }

  .card-container {
    flex-direction: row;
    margin: 0em 1em;
  }
}
