.landing-banner {
  height: 100vh;
  width: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../../images/1920_campusphoto-476112.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.landing-banner > h1 {
  font-size: 4rem;
  margin: 1rem;
}

.chevron {
  width: 5%;
  height: auto;

  animation: move 1s infinite alternate;
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

.card-section {
  /* background-color: #f2f2f2; */
  color: var(--primary-font-color);
  text-align: center;
}

.card-section > h2 {
  /* margin: 1em; */
  font-size: 2.5em;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  text-align: center;
  color: #000;
  /* background-color: #f2f2f2; */
  align-content: center;
  justify-content: center;
  margin: 0em 2em;
}

.card-container > h2 {
  margin-top: 1em;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em 2em;
  border-radius: 5px;
  text-align: center;
  background-color: var(--primary-color);
  color: #fff;
  transition: transform 200ms ease-in;
  box-shadow: 0px 1px 8px 0px black;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 200ms ease-in;
}

.card > h3 {
  margin-bottom: 1em;
  font-size: 2em;
}

.card > p {
  margin-bottom: 0.5em;
}

.card > img {
  margin: 2em 0em;
  height: 6em;
  width: auto;
}

@media only screen and (min-width: 600px) {
  .card {
    margin: 1em 5em;
  }
}
