.page {
  padding-top: 9em;
  height: auto;
}

.paper {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 1em 1em;
  background-color: #f3f3f3;
  border-radius: 0.5em;
}

.paper > h2 {
  padding: 1em 0em;
}

.paper > p {
  padding: 1em 4em;
  text-align: justify;
  line-height: 1.7em;
}

@media only screen and (min-width: 600px) {
  .paper {
    margin: 1em 2em;
  }
}
@media only screen and (min-width: 1000px) {
  .page {
    height: auto;
  }
}
